@import "../../../../assets/scss/master";

.login-left {
  background-color: #272936;
}

.logo {
  font-family: "Ubuntu", Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  font-size: 3rem !important;
  font-weight: 400;
  color: #5e62b3;
}
