button{
  border-radius: 9999px;
  padding: 10px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover{
    border: 1px var(--primary-color) solid;
  }
}  

.button-container{
  margin-top: 20px;
}
