button{
  background: transparent;
  border-radius: 9999px;
  padding: 10px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover{
    border: 1px var(--primary-color) solid;
  }
}  

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}