<div>
  <p-table
    [value]="data"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-gridlines"
    [customSort]="true"
    (sortFunction)="customSort($event)"
    sortField="{{ sort.property }}"
  >
    <ng-template pTemplate="header">
      <tr class="tr-header">
        @for (column of columns; track column) {
        <th pSortableColumn="{{ column }}">
          {{ column }} <p-sortIcon field="{{ column }}"></p-sortIcon>
        </th>
        }
        <th *ngIf="edit" class="actions">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        @for (column of columns; track column) {
        <td>
          {{ data[column] }}
        </td>
        }
        <td *ngIf="edit">
          <p-button class="edit button" [outlined]="true" icon="pi pi-pencil" (click)="editItem(data)"
          [style]="{'background-color': 'transparent'}"></p-button>
          <p-button  [outlined]="true" icon="pi pi-trash" (click)="deleteItem(data)"
          [style]="{'background-color': 'transparent'}"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    (onPageChange)="changePage($event)"
    [first]="pageNumber * pageSize"
    [rows]="10"
    [totalRecords]="totalElements"
  ></p-paginator>
</div>
